.Header {
   display: flex;
   background: linear-gradient(45deg, #70ABAF, #99E1D9);
   padding: 20px;
   width: 100%;
   margin: 0 auto;
   box-shadow: 0px 2px 6px gray;
   z-index: 1;
}

.Header-logo {
   width: 12rem;
}

.Header li {
   font-size: 1.5rem;
   color: #ffffff;
}


@media only screen and (max-width: 580px) {
   .Header {
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 100vw;
   }

   .Header-logo {
      width: 150px;
      margin-top: 10px;
   }
 }