.Main {
   padding: 20px;
   box-shadow: 0px 3px 8px rgb(123, 123, 123);
}

.Main-section {
   display: flex;
   justify-content: space-around;
   box-shadow: 0px 3px 8px gray;
   padding: 20px;
   border-radius: 5px;
}

.Main-title {
   color: #70ABAF;
   font-size: 2rem;
}

.Main ul {
   align-self: flex-end;
   border-radius: 3px;
   list-style-type: none;
}

.Main li {
   display: inline-block;
   margin-right: 20px;
   background-color: teal;
   box-shadow: 0px 2px 5px rgb(64, 64, 64);
   padding: 10px 14px;
   border-radius: 3px;
}

a {
   color: white;
}

.Main li:hover, a:hover {
   background-color: #99E1D9;
   color: black;
}

@media only screen and (max-width: 880px) {
   .Main-section {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .Main ul {
      display: flex;
      margin: 0 auto;
      gap: 20px;
      font-size: .85rem;
      padding: 10px;
   }
   .Main li {
      margin: 0;
   }
}

@media only screen and (max-width: 375px) {
   .Main-section {
      padding: 10px 0px;
   }
   .Main-title {
      font-size: 1rem;
   }
   .Main ul {
      display: flex;
      margin: 0 auto;
      gap: 15px;
      font-size: .5rem;
   }
   .Main li {
      margin: 0;
   }
}

@media only screen and (min-width: 376px) and (max-width: 500px) {
   .Main-section {
      padding: 10px 0px;
   }
   .Main-title {
      font-size: 1.5rem;
   }
   .Main ul {
      display: flex;
      margin: 0 auto;
      gap: 20px;
      font-size: 1rem;
   }
   .Main li {
      margin: 0;
   }
}