.Main {
   padding: 20px;
   box-shadow: 0px 3px 8px rgb(123, 123, 123);
}

.Main-section {
   display: flex;
   justify-content: space-around;
   box-shadow: 0px 3px 8px gray;
   padding: 20px;
}

.Main-title {
   color: #70ABAF;
   font-size: 2rem;
}

.Main ul {
   align-self: flex-end;
   border-radius: 3px;
   list-style-type: none;
}

.Main li {
   display: inline-block;
   margin-right: 20px;
   background-color: teal;
   box-shadow: 0px 2px 5px rgb(64, 64, 64);
   padding: 10px 14px;
   border-radius: 3px;
}

a {
   color: white;
}

.Main li:hover, a:hover {
   background-color: #99E1D9;
   color: black;
}